:root {
  --primary-color: #2A485C;
  --accent-color: #FD9928;
  --white-color: #fff;
  --grey-color: #707070;
  --black-color: #000;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2");
}  

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff2");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; 
}

main{
  min-height: 90vh;
}


h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h3, h4, h5{
  font-family: 'Roboto-Bold', sans-serif;
}

p{
  font-family: 'Roboto-Regular', sans-serif;
}

/*********************** Hero ***********************/ 
.overlay{
  background-color: hsla(204, 37%, 26%, 0.4);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.hero-img{    
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  z-index: 100;
}

.avatar{
  border-radius: 50%;
}
 

/*********************** Navigation ***********************/ 

.nav{
  background-color: var(--primary-color);
}


/*********************** General Section ***********************/

section{
  min-height: 50vh;
  margin: 5rem; 
}

.section-top{
  padding: 5rem 0;
}

.white{
  color: var(--white-color);
}

.accent{
  color: var(--accent-color);
}


/*********************** Work Section ***********************/ 
.work-link{
  text-decoration: none!important;
  color: inherit!important;
}

.work-link:hover{
  color: #2a485c73!important;
}

.slick-prev:before {
  content: url(../images/icons/chevron-left.svg)!important;
}

.slick-next:before {
  content: url(../images/icons/chevron-right.svg)!important;
}

/*********************** Footer Section ***********************/ 
footer{
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 2rem 2rem 1rem 2rem;
}

/*********************** Contact Section ***********************/ 

.hidden{
  display: none;
}

input, textarea{
  border-radius: 9px!important;
  border: 1px var(--grey-color) solid!important;
  resize: none!important;
}
 
.btn-form{
  background-color: var(--white-color)!important;
  color: var(--black-color)!important;
  border: 1px solid var(--primary-color)!important;
  padding: 0.5rem 5rem!important;
  border-radius: 2rem!important;
}

.btn-form:hover{
  background-color: var(--primary-color)!important;
  color: var(--white-color)!important;
  padding: 0.5rem 5rem!important;
  border-radius: 2rem!important;
}