@use 'components/header';
@use 'components/hero';
@use 'components/services';
@use 'components/work';
@use 'components/process';
@use 'components/contact';
@use 'components/footer';
@use 'templates/work-post';

:root {
  --primary-color: #2A485C;
  --accent-color: #FD9928;
  --white-color: #fff;
  --grey-color: #707070;
  --black-color: #000;
}
 
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff2");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.woff2");
}  

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.woff2");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 20px;
  @media (max-width: 992px) { 
  scroll-padding-top: 12rem;
  }  
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h3, h4, h5, h6{
  font-family: 'Roboto-Bold', sans-serif;
}

p{
  font-family: 'Roboto-Regular', sans-serif;
}
 
// .serviceitem-title{
//   font-size: 0.6rem!important;
// }

/*********************** General Section ***********************/

section{ 
  margin: 3rem 0;
  // padding: 12rem 0; 
}

.section-top{
  padding: 5rem 0;
}

.white{
  color: var(--white-color);
}

.accent{
  color: var(--accent-color);
}